$mycolour : rgb(100, 201, 255);
$bgcolour : #444;
$number1 : 20px;
$align1 : center;

.navbar{

    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: $bgcolour;
    }

    li{
        float: left;
        margin-right: $number1;

    }
    li a{
        display: block;
        color: white;
        text-align: $align1;
        padding: 14px $number1;
        text-decoration: none;
    }

    li a:hover {
        background-color: $mycolour;
    }

    .active {
        background-color: $mycolour;
    }
    
   
}
.contenthome{
    background-color: pink;
}

.contentcontact{
    background-color: lime;
}

.contentabout{
    background-color: sandybrown;
}

img{
    border-radius: 50%;
    width: 50%;;
}